<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/references">Références</a>
      </li>
      <li routerLinkActive="active" *ngIf="userService.getTypeUser() == 'Administrateur'">
        <a routerLink="/users">Utilisateurs</a>
      </li>
      <li routerLinkActive="active"
          *ngIf="userService.getTypeUser() == 'Administrateur' || userService.getTypeUser() == 'Chef'">
        <a routerLink="/reference/new">Nouvelle référence</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="userService.getTypeUser() == 'NonConnecte'">
        <a routerLink="/auth">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="userService.getTypeUser() != 'NonConnecte'">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
