.blue{
  background-color: #00355b;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.bouton{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #00355b;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bouton-edit{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #00355b;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.orange{
  color: orange;
  font-weight: bold;
}

.up{
  padding-top: 10%;
  padding-bottom: 4%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.picture{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pointeur{
  height: 20px;
}

.mission-color{
  color: #38b4e7;
  font-weight: bold;
}

.down{
  margin-bottom: 3%;
}

.contour{
  border: 10px solid #e6e6e6;
}

.top{
  margin-top: 3%;
}

.block{
  display: inline-flex;
  width: max-content;
  text-align: center;
}

.margeR{
  margin-left: -3%;
}

.margeL{
  margin-left: 3%;
}

.stop{
  background-color: red;
  color: black;
}
.bg{
  background-color: #f8f8f8
}





