.blue{
  background-color: #00355b;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.bold{
  font-weight: bold;
}

.titre{
  font-size: 20px;
  margin-bottom: 2%;
}

.picture{
  height: 300px;
}

.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.top{
  margin-top: 3%;
}

.block{
  display: inline-flex;
  width: max-content;
  text-align: center;
}

.margeR{
  margin-right: 2%;
}

.margeL{
  margin-left: 2%;
}

.stop{
  background-color: red;
  color: black;
}

