<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="blue text-center down">Connexion</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div class="form-group">
        <label for="type">Type d'utilisateur</label>
        <select id="type" class="form-control">
          <option>{{admin}}</option>
          <option>{{chef}}</option>
          <option [selected]="true">{{salarie}}</option>
        </select>
      </div>
      <button class="btn btn-primary centrer"
              type="submit"
              [disabled]="editForm.invalid">Connexion</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
